/* Global Styles */

/* Import external fonts */
@import url('https://rsms.me/inter/inter.css');

/* Define font faces */
@font-face {
    font-family: Inter;
    src: url(./fonts/inter.ttf);
}
@font-face {
    font-family: "Playfair Display";
    src: url(./fonts/playfair-display.ttf);
}

/* Declare variables */
:root {
    --white: #ffffff;
    --lighter: #f1f1f1;
    --light-grey: #aaaaaa;
    --grey: rgb(53, 53, 53);
    --dark-grey: rgb(35, 35, 35);
    --dark: rgb(27, 27, 27);
    --darker: rgb(18, 18, 18);
    --black: #000000;
}

/* Font settings */
body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-weight: 500;
}

.container-60 {
    width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

.container-80 {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}

.landing-page {
    background: linear-gradient(var(--black), rgba(0, 0, 0, 0.6) 80%, rgb(0, 0, 0, 0.2)), url(./img/landing-page.jpg) center/cover no-repeat;
    height: 100vh;
    color: white;
    padding-top: 30px;
}

.height-100 {
    height: 100vh;
}

.height-80 {
    height: 500px;
}

.title {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-black {
    background: var(--darker);
    border-bottom: 1px solid var(--grey);
    color: white;
}

.bg-white {
    background: var(--lighter);
    color: var(--darker);
}

.bg-dark {
    background: var(--dark);
    border-bottom: 1px solid var(--grey);
    color: var(--white);
}

.footer-container {
    font-size: 0.85rem;
    color: white;
    width: 1100px;
    margin: auto;
    padding: 3rem 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

footer a {
    padding-bottom: 0.5em;
    margin: 0;
    color: var(--light-grey);
    display: block;
}

footer a:hover {
    color: var(--white);
}

#logo-footer {
    width: 250px;
    margin-left: auto;
    padding-bottom: 5.1rem;
}

#logo-nav {
    width: 170px;
}

.footer-container > div:nth-of-type(3) {
    justify-self: end;
    text-align: right;
    align-self: stretch;
}

.footer-container > div:last-child {
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 0.7rem;
    color: var(--light-grey);
}

footer p {
    padding: 0;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 400px;
    margin: 0 auto;
}

.float-right {
    float: right;
}


.two-col-img-right {
    display: grid;
    grid-template-columns: 5fr 4fr;
    align-items: center;
}

.two-col-img-left {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
}

.two-col-img-left h2 {
    text-align: right;
}

.pad-right {
    padding-right: 4rem;
}

.pad-left {
    padding-left: 4rem;
}

.one-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem 0;
}

.three-col-img-right {
    display: grid;
    grid-template-columns: 3fr 1.25fr 1.25fr;
    align-items: center;
    gap: 2rem;
}

.two-col img {
    aspect-ratio: 1 / 1.5;
}

.grid-align-right {
    justify-self: end;
}

.grid-align-left {
    justify-self: start;
}



/* Header Navigation Styles */
header {
    margin: auto;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: var(--darker);
    border-bottom: 1px solid var(--grey);
    box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.494);
    z-index: 99;
}

nav {
    color: rgb(238, 238, 238);
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.nav-links,
.nav-chapters-heading a {
    color: var(--lighter);
    display: block;
    padding: 10px;
    font-weight: 700;
    border-radius: .5rem;
    transition: all 150ms;
}

.nav-chapters-heading {
    position: relative;
}

.nav-chapters {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: 1px solid var(--grey);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
    display: none;
}

.nav-chapters .nav-links {
    opacity: 0.8;
    border-radius: 0px;
}

.nav-chapters .nav-links:hover {
    background: none;
    opacity: 1;
}

.nav-chapters-heading:hover > .nav-chapters {
    display: block;
}

.nav-chapters .nav-links {
    padding: 20px 30px;
}


.nav-links:hover {
    color: var(--white);
}

nav svg {
    width: 50px;
}

.btn-white {
    display: block;
    padding: 10px;
    font-weight: 700;
    border-radius: .5rem;
    transition: all 150ms;
    background-color: var(--lighter);
    color: var(--grey);
}

.btn-white:hover {
    background-color: var(--white);
    color: var(--darker);
}

h1 {
    font-size: 3rem;
}

.landing-page h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.75rem;
    line-height: 1.6;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h4:not(:last-child) {
    padding-bottom: .5rem;
}

p {
    line-height: 1.65;
}

p:not(:last-child) {
    padding-bottom: 2rem;
}

img {
    width: 100%;
}

#scroll-down {
    font-size: 14px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translate(-50%, -50%);
}

.scroll-down-icon {
    width: 24px;
    fill: white;
    position: absolute;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, -50%);
}

.img-80 {
    width: 80%;
    margin: auto;
}

.caption {
    color: var(--light-grey);
    font-size: 0.8rem;
    text-align: center;
    max-width: 40vw;
    margin: auto;
    padding-top: .5rem;
}

.chapters-navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.chapters-navigation a {
    border: 1px solid var(--grey);
    border-radius: .75rem;
    color: var(--white);
    padding: 2rem 3rem;
    transition: background-color 150ms ease-in-out;
}

.chapters-navigation a:hover {
    background-color: var(--dark);
}

.fun-facts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* .fun-facts div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
} */

.fun-facts div div {
    position: relative;
    border: 1px solid var(--grey);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.fun-facts div h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 150ms ease-in-out;
}

.fun-facts .hidden {
    opacity: 0;
    visibility: hidden;
    transition: all 150ms ease-in-out;
    color: var(--lighter);
}

.fun-facts div div:hover .hidden {
    opacity: 1;
    visibility: visible;
}

.fun-facts div div:hover h2 {
    opacity: 0;
    visibility: hidden;
}

/* Page Specific Styles */

/* Gallery Page */

.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 90vw;
    margin: 0 auto;
    padding: 4rem 0;
}

.gallery-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    gap: 2rem;
}

.gallery-item {
    position: relative;
}

.gallery-item-desc {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 0;
    z-index: 2;
}

.gallery-item-desc p {
    font-size: .9rem;
}

.gallery-item-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) 20%, var(--black));
    z-index: 1;
}

.gallery-item-desc,
.gallery-item-bg {
    visibility: hidden;
    opacity: 0;
    transition: all 150ms ease-in-out;
}

.gallery-item:hover .gallery-item-desc,
.gallery-item:hover .gallery-item-bg {
    visibility: visible;
    opacity: 1;
}

.gallery-item-year {
    display: block;
    font-family: "Playfair Display";
}

/* Documentary Page */

#sorry {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sorry h2 {
    padding: 2rem 0;
}

#documentary-vid {
    display: block;
    width: 70vw;
    padding: 2rem 0;
    margin: 0 auto;
}

